.hw1 {
    margin: 25px;
}

.wrapper {
    display: flex;
    align-items: flex-end;
    margin-left: 25px;
}

.message {
    background-color: cadetblue;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
}

p {
    display: flex;
}

img {
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-self: flex-end;
    margin-right: 10px;
}

.time {
    opacity: 0.2;
    display: flex;
    align-items: flex-end;
}

